<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.younchen.younsampleproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".commons.activity.UiActivity" />
        <activity android:name=".commons.activity.SysActivity" />
        <!-- ui -->
        <activity android:name=".ui.activity.CustomLayoutActivity" />
        <activity android:name=".ui.blurimage.BlurImageActivity" />
        <!-- sys -->
        <activity android:name=".sys.pic.AidlSampleActivity" />
        <activity android:name=".sys.pic.IPCSampleListActivity" />
        <activity android:name=".sys.pic.MessengerSampleActivity" />
        <activity android:name=".sys.pic.AidlCallBackSampleActivity" />

        <service
            android:name=".sys.pic.AidlSampleService"
            android:enabled="true"
            android:exported="true"
            android:process=":remoto" />
        <service
            android:name=".sys.pic.MessengerSampleService"
            android:enabled="true"
            android:exported="true"
            android:process=":messanger" />
        <service
            android:name=".sys.pic.AidlCallBackService"
            android:enabled="true"
            android:exported="true"
            android:process=":remoto" />

        <activity android:name=".ui.activity.MulitTypeListItemSampleActivity" />
        <activity android:name=".ui.activity.ScrollerViewSampleActivity" />
        <activity android:name=".ui.activity.AnimationActivity" />
        <activity android:name=".ui.activity.SvgIconSampleActivity" />
        <activity android:name=".commons.activity.RxJavaActivity" />
        <activity android:name=".rxjava.activity.ObserverSampleActivity"></activity>
    </application>

</manifest>